<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Добавление тренера в базу спорт-клуба "Live by sport"</title>
</head>

<body>
    <h3>Добавить тренара:</h3>
    <form method="POST">
        <label>Серия № паспорта</label><br>
        <input type="number" name="id" pattern="[0-9]+" /><br><br>
        <label>Фамилия</label><br>
        <input type="text" name="surname" /><br><br>
        <label>Имя</label><br>
        <input type="text" name="name" /><br><br>
        <label>Отчество</label><br>
        <input type="text" name="patronymic" /><br><br>
        <input type="submit" value="Добавить" />
    </form>
</body>

</html>